{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    <div class="main-wrapper">
        <div class="account-page">
            <div class="container">
                <h3 class="account-title">{% trans "Password Reset | Intern Hooks" %}</h3>
                <div class="account-box">
                    <div class="account-wrapper">
                        <div class="account-logo">
                            <a href="#"><img src="{% static 'img/logo2.png'  %}" alt="Focus Technologies"></a>
                        </div>
                        {% if user.is_authenticated %}
                            {% include "account/snippets/already_logged_in.html" %}
                        {% endif %}
                       <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
                        <hr />
                        <div class="form-group text-center">
                            <a href="{% url 'account_login' %}" class="btn btn-primary btn-block account-btn">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


