  
{% extends "base.html" %}

{% load static %}
{% load i18n %}
{#{% block head_title %}{% trans "Change Password" %}{% endblock %}#}


{% block content %}

    <div class="main-wrapper">
        <div class="account-page">
{#            <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>#}
            <div class="container">
                <h3 class="account-title">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Password Reset | Intern " %}{% endif %}</h3>
                <div class="account-box">
                    <div class="account-wrapper">
                        <div class="account-logo">
                            <a href="#"><img src="{% static 'img/logo2.png'  %}" alt="intern"></a>
                        </div>

                         {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-error">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-error">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}

                        {% if token_fail %}
                            {% url 'account_reset_password' as passwd_reset_url %}
                            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                        {% else %}
                            {% if form %}
                                <form method="POST" action="{{ action_url }}">
                                    {% csrf_token %}
                                    {% for field in form %}
                                         <div class="form-group form-focus">
                                            <label class="control-label" for="{{ field.name }}">{{ field.label }}</label>
                                            <input type="password" name="{{ field.name }}" class="form-control floating" required id = "{{ field.name }}">
                                         </div>
                                    {% endfor %}

                                    <div class="form-group text-center">
                                        <button class="btn btn-primary btn-block account-btn" type="submit">Change Password</button>
                                    </div>

{#                                    <input type="submit" name="action" class="btn btn-primary btn-block account-btn" value="{% trans 'Change Password' %}"/>#}
                                </form>
                            {% else %}
                                <p>{% trans 'Your password is now changed.' %}</p>
                            {% endif %}
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}