 <!-- Counters -->
  <div class="section gradient_item_area padding-top-70 padding-bottom-75">
    <div class="container">
      <div class="row">
	    <div class="col-xl-12">
			<div class="utf-section-headline-item centered margin-top-0 margin-bottom-40">
				<span>Success Business Award</span>
				<h3>Our Success & Award</h3>
				<div class="utf-headline-display-inner-item">Success Business Award</div>
				<p class="utf-slogan-text">Lorem Ipsum is simply dummy text printing and type setting industry Lorem Ipsum been industry standard dummy text ever since when unknown printer took a galley.</p>
			</div>
		</div>
        <div class="col-xl-12 counter_inner_block">
		  <div class="utf-counters-container-aera">
			<div class="col-xl-3">
				<div class="utf-single-counter"> <i class="icon-feather-briefcase"></i>
				  <div class="utf-counter-inner-item">
					<h3><span class="counter">12,376</span></h3>
					<span class="utf-counter-title">Live Jobs</span>
				  </div>
				</div>
			</div>
			<div class="col-xl-3">
				<div class="utf-single-counter"> <i class="icon-feather-users"></i>
				  <div class="utf-counter-inner-item">
					<h3><span class="counter">89,562</span></h3>
					<span class="utf-counter-title">Jobs Candidate</span>
				  </div>
				</div>
			</div>
			<div class="col-xl-3">
				<div class="utf-single-counter"> <i class="icon-material-outline-textsms"></i>
				  <div class="utf-counter-inner-item">
					<h3><span class="counter">28,166</span></h3>
					<span class="utf-counter-title">Active Resume</span>
				  </div>
				</div>
			</div>
			<div class="col-xl-3">
				<div class="utf-single-counter"> <i class="icon-material-outline-location-city"></i>
				  <div class="utf-counter-inner-item">
					<h3><span class="counter">8,966</span></h3>
					<span class="utf-counter-title">Companies</span>
				  </div>
				</div>
			</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Counters / End -->