<!-- Jobs Category Boxes -->
  <div class="section margin-top-60 margin-bottom-60">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="utf-section-headline-item centered margin-top-0 margin-bottom-40">
            <span>Jobs Categories</span>
			<h3>Top Trending Categories</h3>
			<div class="utf-headline-display-inner-item">Jobs Categories</div>
			<p class="utf-slogan-text">Lorem Ipsum is simply dummy text printing and type setting industry Lorem Ipsum been industry standard dummy text ever since when unknown printer took a galley.</p>
          </div>
          <div class="utf-categories-container-block">
{#            <a href="jobs-list-layout-leftside.html" class="utf-category-box">#}
{#				<div class="utf-opening-position-counter-item">10 Openings</div>#}
{#				<div class="utf-category-box-icon-item"> <i class="icon-line-awesome-bullhorn"></i> </div>#}
{#				<div class="utf-category-box-content">#}
{#				  <h3>Design, Art & Multimedia</h3>#}
{#				</div>#}
{#				<div class="utf-category-box-counter-item">8,188 Jobs</div>#}
{#            </a>#}
            <a href="{% url 'cat-education' %}" class="utf-category-box">
				<div class="utf-opening-position-counter-item">15 Openings</div>
				<div class="utf-category-box-icon-item"> <i class="icon-line-awesome-graduation-cap"></i> </div>
				<div class="utf-category-box-content">
				  <h3>Education & Training</h3>
				</div>
				<div class="utf-category-box-counter-item">5,244 Jobs</div>
            </a>
            <a href="{% url 'cat-accounting-finance' %}" class="utf-category-box">
				<div class="utf-opening-position-counter-item">12 Openings</div>
				<div class="utf-category-box-icon-item"> <i class="icon-line-awesome-line-chart"></i> </div>
				<div class="utf-category-box-content">
				  <h3>Accounting / Finance</h3>
				</div>
				<div class="utf-category-box-counter-item">6,258 Jobs</div>
            </a>
            <a href="{% url 'cat-human-resource' %}" class="utf-category-box">
				<div class="utf-opening-position-counter-item">20 Openings</div>
				<div class="utf-category-box-icon-item"> <i class="icon-line-awesome-users"></i> </div>
				<div class="utf-category-box-content">
				  <h3>Human Resource</h3>
				</div>
				<div class="utf-category-box-counter-item">1,224 Jobs</div>
            </a>
            <a href="{% url 'cat-telecom' %}" class="utf-category-box">
				<div class="utf-opening-position-counter-item">25 Openings</div>
				<div class="utf-category-box-icon-item"> <i class="icon-feather-phone-call"></i> </div>
				<div class="utf-category-box-content">
				  <h3>Telecommunications</h3>
				</div>
				<div class="utf-category-box-counter-item">3,258 Jobs</div>
            </a>
{#            <a href="jobs-list-layout-leftside.html" class="utf-category-box">#}
{#				<div class="utf-opening-position-counter-item">18 Openings</div>#}
{#				<div class="utf-category-box-icon-item"> <i class="icon-line-awesome-cutlery"></i> </div>#}
{#				<div class="utf-category-box-content">#}
{#				  <h3>Restaurant / Food Service</h3>#}
{#				</div>#}
{#				<div class="utf-category-box-counter-item">5,138 Jobs</div>#}
{#            </a>#}
{#            <a href="jobs-list-layout-leftside.html" class="utf-category-box">#}
{#				<div class="utf-opening-position-counter-item">38 Openings</div>#}
{#				<div class="utf-category-box-icon-item"> <i class="icon-line-awesome-building"></i> </div>#}
{#				<div class="utf-category-box-content">#}
{#				  <h3>Construction / Facilities</h3>#}
{#				</div>#}
{#				<div class="utf-category-box-counter-item">2,580 Jobs</div>#}
{#            </a>#}
{#            <a href="jobs-list-layout-leftside.html" class="utf-category-box">#}
{#				<div class="utf-opening-position-counter-item">23 Openings</div>#}
{#				<div class="utf-category-box-icon-item"> <i class="icon-line-awesome-user-md"></i> </div>#}
{#				<div class="utf-category-box-content">#}
{#				  <h3>Health</h3>#}
{#				</div>#}
{#				<div class="utf-category-box-counter-item">2,360 Jobs</div>#}
{#            </a>#}
		  </div>
		  <div class="utf-centered-button margin-top-10">
			<a href="jobs-categorie-one.html" class="button utf-ripple-effect-dark utf-button-sliding-icon margin-top-20">View All Categories <i class="icon-feather-chevrons-right"></i></a>
		  </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Jobs Category Boxes / End -->