<!-- Testimonials -->
  <div class="section gray padding-top-65 padding-bottom-65">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="utf-section-headline-item centered margin-top-0 margin-bottom-30">
            <span>Clients Say About Us</span>
			<h3>Candidates Testimonials</h3>
			<div class="utf-headline-display-inner-item">Clients Say About Us</div>
			<p class="utf-slogan-text">Lorem Ipsum is simply dummy text printing and type setting industry Lorem Ipsum been industry standard dummy text ever since when unknown printer took a galley.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Categories Carousel -->
    <div class="utf-carousel-container-block">
      <div class="utf-testimonial-carousel-block testimonials">
        <div class="utf-carousel-review-item">
          <div class="utf-testimonial-box">
            <div class="utf-testimonial-avatar-photo"> <img src="images/user_small_1.jpg" alt=""> </div>
            <div class="utf-testimonial-author-utf-detail-item">
              <h4>John Williams</h4>
              <span>Graphics Designer</span>
			</div>
            <div class="testimonial">Lorem Ipsum is simply dummy text of printing and type setting industry. Lorem Ipsum been industry standard dummy text ever since, when an unknown printer took a galley of type and laboris nisi ut aliquip ex minim veniam scrambled it to make a type specimen book. It has survived not only five into electronic type setting popularised.</div>
          </div>
        </div>
        <div class="utf-carousel-review-item">
          <div class="utf-testimonial-box">
            <div class="utf-testimonial-avatar-photo"> <img src="images/user_small_2.jpg" alt=""> </div>
            <div class="utf-testimonial-author-utf-detail-item">
              <h4>John Williams</h4>
              <span>IOS Developer</span>
			</div>
            <div class="testimonial">Lorem Ipsum is simply dummy text of printing and type setting industry. Lorem Ipsum been industry standard dummy text ever since, when an unknown printer took a galley of type and laboris nisi ut aliquip ex minim veniam scrambled it to make a type specimen book. It has survived not only five into electronic type setting popularised.</div>
          </div>
        </div>
        <div class="utf-carousel-review-item">
          <div class="utf-testimonial-box">
            <div class="utf-testimonial-avatar-photo"> <img src="images/user_small_3.jpg" alt=""> </div>
            <div class="utf-testimonial-author-utf-detail-item">
              <h4>John Williams</h4>
              <span>Android Developer</span>
			</div>
            <div class="testimonial">Lorem Ipsum is simply dummy text of printing and type setting industry. Lorem Ipsum been industry standard dummy text ever since, when an unknown printer took a galley of type and laboris nisi ut aliquip ex minim veniam scrambled it to make a type specimen book. It has survived not only five into electronic type setting popularised.</div>
          </div>
        </div>
        <div class="utf-carousel-review-item">
          <div class="utf-testimonial-box">
            <div class="utf-testimonial-avatar-photo"> <img src="images/user_small_1.jpg" alt=""> </div>
            <div class="utf-testimonial-author-utf-detail-item">
              <h4>John Williams</h4>
              <span>Web Developer</span>
			</div>
            <div class="testimonial">Lorem Ipsum is simply dummy text of printing and type setting industry. Lorem Ipsum been industry standard dummy text ever since, when an unknown printer took a galley of type and laboris nisi ut aliquip ex minim veniam scrambled it to make a type specimen book. It has survived not only five into electronic type setting popularised.</div>
          </div>
        </div>
        <div class="utf-carousel-review-item">
          <div class="utf-testimonial-box">
            <div class="utf-testimonial-avatar-photo"> <img src="images/user_small_2.jpg" alt=""> </div>
            <div class="utf-testimonial-author-utf-detail-item">
              <h4>John Williams</h4>
              <span>UI/UX Designer</span>
			</div>
            <div class="testimonial">Lorem Ipsum is simply dummy text of printing and type setting industry. Lorem Ipsum been industry standard dummy text ever since, when an unknown printer took a galley of type and laboris nisi ut aliquip ex minim veniam scrambled it to make a type specimen book. It has survived not only five into electronic type setting popularised.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Testimonials / End -->