<!DOCTYPE html>
<html lang="en">
<head>

    <title></title>
    <style>
        h2{
            text-align: center;
        }
    </style>
</head>
<body>
    <h2>POPCORN INTERN PLATFORM</h2>
    <p>Hey! {{ last_name }} {{ first_name }},</p>
    <p>You have just applied for an offer listed on our web app'</p>
    <p>Thank you for applying through popcorn intern platform. You have come to the right platform.
        Our services have being recommend and looking forward to work with you. Thank you
    </p>
    <p>
        Please do not reply this email. For any further actions send your questions to popcorn@popcon.com
        Call you can reach us on +1- 890 - 892 - 6590
    </p>
    <p>
        - Regards,
    </p>
    <p>
        <strong><em>George</em></strong>
    </p>
    <p>
        <strong><em>C.E.O, President</em></strong>
    </p>

</body>

</html>
