<!-- Dashboard Container -->
  <div class="utf-dashboard-container-aera">
    <!-- Dashboard Sidebar -->
    <div class="utf-dashboard-sidebar-item">
      <div class="utf-dashboard-sidebar-item-inner" data-simplebar>
        <div class="utf-dashboard-nav-container">
          <!-- Responsive Navigation Trigger -->
          <a href="#" class="utf-dashboard-responsive-trigger-item"> <span class="hamburger utf-hamburger-collapse-item" > <span class="utf-hamburger-box-item"> <span class="utf-hamburger-inner-item"></span> </span> </span> <span class="trigger-title">Dashboard Navigation Menu</span> </a>
          <!-- Navigation -->
		  <div class="utf-dashboard-nav">
			<div class="utf-dashboard-nav-inner">
			  <div class="dashboard-profile-box">
				  <span class="avatar-img">
					<img alt="" src="images/user-avatar-placeholder.png" class="photo">
				  </span>
				  <div class="user-profile-text">
					<span class="fullname">{{ user.first_name|default_if_none:user.username}} {{ user.last_name }}</span>
					<span class="user-role">Software Engineer</span>
				  </div>
			  </div>
			  <div class="clearfix"></div>
              <ul>
                <li class="active"><a href="dashboard.html"><i class="icon-material-outline-dashboard"></i> Dashboard</a></li>
{#				<li><a href="dashboard-jobs-post.html"><i class="icon-line-awesome-user-secret"></i> Manage Jobs Post</a></li>#}
				<li><a href="{% url 'manage-jobs' %}"><i class="icon-material-outline-group"></i> Manage Jobs <span class="nav-tag">5</span></a></li>
				<li><a href="{% url 'manage-resume' %}"><i class="icon-material-outline-supervisor-account"></i> Manage Resume</a></li>
{#				<li><a href="dashboard-bookmarks.html"><i class="icon-feather-heart"></i> Bookmarks Jobs</a></li>#}
{#				<li><a href="#"><i class="icon-line-awesome-file-text"></i> Freelancer Tasks</a>#}
{#                    <ul class="dropdown-nav">#}
{#                      <li><a href="dashboard-freelancer-manage-tasks-list.html"><i class="icon-feather-chevrons-right"></i> Freelancer Manage Tasks</a></li>#}
{#                      <li><a href="dashboard-manage-bidders-list.html"><i class="icon-feather-chevrons-right"></i> Freelancer Manage Bidders</a></li>#}
{#                      <li><a href="dashboard-freelancer-active-bids.html"><i class="icon-feather-chevrons-right"></i> Freelancer Active Bids</a></li>#}
{#                      <li><a href="dashboard-freelancer-add-post-bids.html"><i class="icon-feather-chevrons-right"></i> Freelancer Post Bids</a></li>#}
{#                    </ul>#}
{#                </li>#}
                <li><a href="{% url 'reviews' %}"><i class="icon-material-outline-rate-review"></i> Reviews</a></li>
                <li><a href="#"><i class="icon-feather-user"></i> My Profile</a>
                    <ul class="dropdown-nav">
                      <li><a href="#"><i class="icon-feather-chevrons-right"></i> View Profile</a></li>
                      <li><a href="{% url 'edit_user_profile' %}"><i class="icon-feather-chevrons-right"></i>Edit Profile</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'account_logout' %}"><i class="icon-material-outline-power-settings-new"></i> Logout</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Dashboard Sidebar / End -->
