{% load static %}
<!-- Intro Banner  -->
  <div class="intro-banner" data-background-image="{% static 'popcorn/images/home-background-01.jpg' %}">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="utf-banner-headline-text-part">
            <h3>Find Nearby Jobs <span class="typed-words"></span></h3>
            <span>It is a Long Established Fact That a Reader Will be Distracted by The Readable.</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="utf-intro-banner-search-form-block margin-top-40">
            <div class="utf-intro-search-field-item">
			  <i class="icon-feather-search"></i>
              <input id="intro-keywords" type="text" placeholder="Search Jobs Keywords...">
            </div>
			<div class="utf-intro-search-field-item">
              <select class="selectpicker default" data-live-search="true" data-selected-text-format="count" data-size="5" title="Select Location">
                <option>Afghanistan</option>
                <option>Albania</option>
                <option>Algeria</option>
                <option>Brazil</option>
                <option>Burundi</option>
                <option>Bulgaria</option>
                <option>Germany</option>
                <option>Grenada</option>
                <option>Guatemala</option>
                <option>Iceland</option>
              </select>
            </div>
			<div class="utf-intro-search-field-item">
              <select class="selectpicker default" data-live-search="true" data-selected-text-format="count" data-size="5" title="All Categories">
                <option>Customer Service</option>
                <option>Data Analytics</option>
                <option>Web Designing</option>
                <option>Software Developing</option>
                <option>Networking</option>
                <option>Sales & Marketing</option>
              </select>
            </div>
            <div class="utf-intro-search-button">
              <button class="button ripple-effect" onclick="window.location.href='jobs-list-layout-leftside.html'"><i class="icon-material-outline-search"></i> Search Jobs</button>
            </div>
          </div>
		  <p class="utf-trending-silver-item"><span class="utf-trending-black-item">Trending Jobs Keywords:</span> Web Designer,  Web Developer,  Graphic Designer,  PHP Developer,  IOS Developer,  Android Developer</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <ul class="intro-stats margin-top-45 hide-under-992px">
            <li><i class="icon-material-outline-business-center"></i> <sub class="counter_item"><strong class="counter">18,955</strong> <span>Live Jobs Posted</span></sub> </li>
            <li><i class="icon-material-outline-assignment"></i> <sub class="counter_item"><strong class="counter">11,088</strong> <span>Jobs Candidate</span></sub> </li>
            <li><i class="icon-material-outline-library-books"></i> <sub class="counter_item"><strong class="counter">10,758</strong> <span>Companies Jobs</span></sub> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>