{% load static %}
<!-- Sidebar -->
      <div class="col-xl-4 col-lg-4">
        <div class="utf-sidebar-container-aera">
		  <div class="utf-sidebar-widget-item">
			  <div class="utf-detail-banner-add-section">
				 <a href="#"><img src="{% static 'popcorn/images/banner-add-2.jpg' %}" alt="banner-add-2" /></a>
			  </div>
          </div>
		  <div class="utf-sidebar-widget-item">
			<div class="utf-quote-box">
				<div class="utf-quote-info">
					<h4>Make a Difference with Your Online Resume!</h4>
					<p>Your Resume in Minutes with Jobs Resume Assistant is Ready!</p>
					<a href="{% url 'account_signup' %}" class="button utf-ripple-effect-dark utf-button-sliding-icon margin-top-10">Create an Account <i class="icon-feather-chevrons-right"></i></a>
				</div>
			</div>
		  </div>
            {# price  #}
{#		  <div class="utf-sidebar-widget-item">#}
{#			  <h3>Offered Salary</h3>#}
{#			  <div class="utf-right-side">#}
{#				<div class="salary-box">#}
{#					<div class="salary-amount">£25,000 - £30,000</div>#}
{#				</div>#}
{#			  </div>#}
{#		  </div>#}
          <div class="utf-sidebar-widget-item">
            <div class="utf-job-overview">
              <div class="utf-job-overview-headline">Opening Position Information</div>
              <div class="utf-job-overview-inner">
                <ul>
                  <li>
				    <i class="icon-material-outline-business-center"></i> <span>Job Vacancy:</span>
                    <h5>{{ offer_detail.offer_name }}</h5>
                  </li>
{#				  <li>#}
{#				    <i class="icon-material-outline-account-circle"></i> <span>Gender</span>#}
{#                    <h5>Female</h5>#}
{#                  </li>#}
                  <li>
				    <i class="icon-line-awesome-glass"></i> <span>Job Position Type</span>
                    <h5>{{ offer_detail.offer_job_name }}</h5>
                  </li>
				  <li>
				    <i class="icon-material-outline-location-on"></i> <span>Location</span>
                    <h5>{{ offer_detail.offer_location }}</h5>
                  </li>
				  <li>
				    <i class="icon-material-outline-business-center"></i> <span>Jobs Type</span>
                    <h5>{{ offer_detail.offer_type }}</h5>
                  </li>
{#				  <li>#}
{#				    <i class="icon-line-awesome-gg-circle"></i> <span>Qualification</span>#}
{#                    <h5>Bachelor Degree</h5>#}
{#                  </li>#}
				  <li>
				    <i class="icon-material-outline-access-time"></i> <span>Date Posted</span>
                    <h5> {{ offer_detail.offer_date_created|date:"d M Y" }} {{ offer_detail.offer_date_created|time:"H:i P" }}</h5>
                  </li>
                </ul>
              </div>
            </div>
          </div>
            {# tag cloud #}
          <div class="utf-sidebar-widget-item">
			<h3>Tags Cloud</h3>
			<div class="task-tags">
                {% for tagit_cloud in tag_cloud %}
			  <a href="#"><span> {{ tagit_cloud }}</span></a>
                {% endfor %}
			</div>
		  </div>

		  <div class="utf-sidebar-widget-item">
			<h3>Quick Contacts</h3>
			<form method="post" name="contactform" id="contact">
                {% csrf_token %}
				<div class="row">
				  <div class="col-md-12">
					<div class="utf-no-border">
					  <input class="utf-with-border" name="fristname" type="text" id="fristname" placeholder="Frist Name" required />
					</div>
				  </div>
				  <div class="col-md-12">
					<div class="utf-no-border">
					  <input class="utf-with-border" name="lastname" type="text" id="lastname" placeholder="Last Name" required />
					</div>
				  </div>
				  <div class="col-md-12">
					<div class="utf-no-border">
					  <input class="utf-with-border" name="email" type="email" id="email" placeholder="Email Address" required />
					</div>
				  </div>
				  <div class="col-md-12">
					<div class="utf-no-border">
					  <input class="utf-with-border" name="subject" type="text" id="subject" placeholder="Subject" required />
					</div>
				  </div>
				</div>
				<div>
				  <textarea class="utf-with-border" name="comments" cols="40" rows="2" id="comments" placeholder="Message..." required></textarea>
				</div>
				<div class="utf-centered-button margin-top-10">
					<input type="submit" class="submit button" id="submit" value="Submit Message" />
				</div>
			 </form>
		  </div>

{#		  <div class="utf-sidebar-widget-item">#}
{#            <h3>Bookmark Jobs</h3>#}
{#			<p class="bookmark-text-item">950 People Bookmarked Jobs</p>#}
{#            <button class="bookmark-button margin-bottom-10"> <span class="bookmark-icon"></span> <span class="bookmark-text">Login to Bookmark Jobs</span> <span class="bookmarked-text">Login to Bookmark Jobs</span> </button>#}
{#          </div>#}
{##}
{#		  <div class="utf-sidebar-widget-item">#}
{#            <h3>Print Job & Report Job</h3>#}
{#			<a href="#" class="button dark">Print Jobs <i class="icon-line-awesome-print"></i></a>#}
{#			<a href="#" class="button dark">Report Jobs <i class="icon-feather-flag"></i></a>#}
{#          </div>#}

{#		  <div class="utf-sidebar-widget-item">#}
{#			  <div class="utf-detail-banner-add-section">#}
{#				 <a href="#"><img src="images/banner-add-2.jpg" alt="banner-add-2" /></a>#}
{#			  </div>#}
{#          </div>#}
        </div>
      </div>
    </div>
  </div>
